
<% include ./common/header.html %>


<div class="container">
    <div class="row">
        <h5 class="text-left">Drop a marker <span><button class="btn btn-default btn-sm help">Help</button></span></h5>
    </div>
    <hr/>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="map" style="min-height: 500px"></div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <h5 class="text-right"><span>Show Selected Areas <input type="checkbox" class="checkbox"></span></h5>
    </div>
</div>
<!--<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
<script type="text/javascript" src="checkServiceability.js"></script>

<% include ./common/footer.html %>